Source: accounts-qml-module
Section: libs
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: dbus-test-runner,
               debhelper (>= 9),
               libaccounts-qt5-dev (>= 1.10),
               libsignon-qt5-dev (>= 8.50),
               pkg-config,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtchooser,
               qt5-qmake,
               qttools5-dev-tools,
               xvfb,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/accounts-qml-module
# If you aren't a member of ~online-accounts but need to upload packaging changes,
# just go ahead.  ~online-accounts will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/accounts-qml-module/trunk

Package: qml-module-ubuntu-onlineaccounts
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-qtquick2-plugin,
Breaks: qtdeclarative5-accounts-plugin (<= 0.5+14.10.20141006-0ubuntu1)
Replaces: qtdeclarative5-accounts-plugin (<= 0.5+14.10.20141006-0ubuntu1)
Description: Expose the Online Accounts API to QML applications
 This module provides access to the Online Accounts framework from QML
 applications.

Package: qtdeclarative5-accounts-plugin
Architecture: any
Section: oldlibs
Multi-Arch: same
Depends: ${misc:Depends},
         qml-module-ubuntu-onlineaccounts,
Description: transitional dummy package for Online Accounts QML clients
 This module provides access to the Online Accounts framework from QML
 applications.

Package: accounts-qml-module-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Online Accounts QML - documentation
 This module provides access to the Online Accounts framework from QML
 applications.
 .
 This package contains developer documentation.

